body {
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
}
.userInput {
    width: 100%;
}
#timeOfDay {
    text-align: center;
    padding: 10px;
}
#saveUserInput {
    align-items: left;
    padding: 10px;
}
/*Past Present and Future Time blocks */
.past {
    background-color: lightgray;
}

.present {
    background-color: lightgreen;
}

.future {
    background-color: thistle;
}
footer {
    padding: 10px;
}