body {
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
}
#timeOfDay {
    text-align: center;
    padding: 10px;
}
#saveUserInput {
    box-align: center;
    padding: 10px;
}
/*Past Present and Future Time blocks */
.past {
    background-color: yellow;
}

.present {
    background-color: green;
}

.future {
    background-color: thistle;
}
footer {
    padding: 10px;
}